<div class="page-header">
<h3>Frequently Asked Question</h3>
<ol>
  <b><li>Why?</li></b>
  <p> just cause </p>
  <b><li>How?</li></b>
  <p> still dont know </p>
  <b><li>How do I input data?</li></b>
</ol>
</div>
