<title>seaMLess AI</title>

<head>
  <style>
    .jumbotron {
      background-color: #000000;
      color: #ffffff;
    }
  </style>
  <!-- Custom styles for this template -->
  <div class="jumbotron text-center">
    <h1>{    seaMLess AI    }</h1>
    <p> Upload your dataset below to get started! </p>
    <p><a data-toggle="tooltip" class="tooltipLink" data-original-title="Tooltip text goes here">
      <span class="glyphicon glyphicon-info-sign" style="50px" title="Enter information here..."></span>
    </a>
  </div>

</head>
<!-- <body background="background.jpg"> -->

<body>

  <!--input file-->
  <div class="form-group" style="line-height: 20px">
    <label for="data_csv" class="col-sm-2 control-label">Upload .csv</label>
    <div class="col-sm-4">

      <!-- Only accept csv  -->
      <input type="file" class="form-control" requiredaccept=".csv" id="fieldPhoto" name="photo">
    </div>
  </div>
  <a href="/regression_choice" class="btn btn-info" role="button">Choose Regression <span class="glyphicon glyphicon-arrow-right"></span></a>


</body>
