
<!--              HEADING              -->
<style>
.jumbotron {
    background-color: #000000; /* Black */
    color: #ffffff;

}

.bg-grey {
    background-color: #b8b8b8;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
</style>

<body>
  <div class="jumbotron text-center">
    <h1>{    seaMLess AI    }</h1>
    <p> Enter Slogan Here </p>
  </div>
</body>


<!--           CONTAINERS            -->

<div class="container-fluid">
  <div class="row" style="padding: 60px 50px">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Peter Kim</h4>
        <ul>
          <li> fresh af </li>
          <li> final fantasy lord </li>
        </ul>
      <h4>Will Luer</h4>
        <ul>
          <li> Swag man jenkins </li>
          <li> the copy and paste king </li>
        </ul>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row" style="padding: 60px 50px">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Enter mission statement</h4>
      <p><strong>VISION:</strong> Enter vision</p>
    </div>
  </div>
</div>
