<title>seaMLess AI</title>

<head>
  <style>
    .jumbotron {
      background-color: #000000;
      color: #ffffff;
    }

    .regression_button {
      background-color: #b8b8b8 padding: 20px 50px
    }
  </style>
</head>

<div class="jumbotron text-center">
  <h1>Pick your regression type</h1>
  <p> Select the <span class="glyphicon glyphicon-question-sign"></span> for help! </p>
</div>

<div class="container-fluid">
  <div class="row">
    <a href="/final_page">
    <div class="col-sm-6" style="background-color:#ffffff;  padding:60px;">
      <button type="button"
      class="btn btn-primary btn-block"
      style="height: 200px; font-size: 40px"
      data-toggle="tooltip"
      title="Enter Linear information here...">
      Linear
    </button>
    </div>
  </a>
    <a href="/final_page">
    <div class="col-sm-6" style="background-color:#ffffff;  padding:60px;">
      <button type="button"
      class="btn btn-primary btn-block"
      style="height: 200px; font-size: 40px"
      data-toggle="tooltip"
      title="Enter Logistic information here...">
      Logistic
    </button>
    </div>
  </a>
  </div>
</div>
<!--
    <a href="#" class="btn btn-primary">Linear</a>
    <a href="#" class="btn btn-primary">Logistic</a>
  </div>
  <
-->
<!--
  <button type="button" class="btn btn-primary" style="float: left">Linear Regression</button>
  <button type="button" class="btn btn-primary" style="float: right">Logistic Regression</button>
  <br>
  <br>
  <a href="/plot" class="btn btn-info" role="button">Next Page</a>
-->
